<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.affonso.agrofinancas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sugarcane"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity" android:label="Agro Finanças">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity2" android:label="OPÇÕES" >
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <activity android:name=".CadastroActivity" android:label="CADASTRO">
            <intent-filter>
                <action android:name="FAZER" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="CADASTRAR" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" android:label="LOGIN">
            <intent-filter>
                <action android:name="FAZER" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="LOGIN" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:label="Agro Finanças">
            <category android:name="android.intent.category.DEFAULT" />
        </activity>

    </application>

</manifest>
